//- 引入基础布局，并重构
extends ./base
//- 头部
block head
    block head-main
    -
        var headerArry = [{
            "navName": "首页",
            "url": "index.html",
            "active": "homePage"
        },{
            "navName":"产品列表",
            "url":"food-utensils.html",
            "active": "food",
            "children": [{
                "navName": "墨域",
                "url": "mouyu.html",
                "src": "../images/two_nav_img04.png"
            },{
                "navName": "墨工",
                "url": "mogong.html",
                "src": "../images/two_nav_img05.png"
            },{
                "navName": "墨韵",
                "url": "moyun.html",
                "src": "../images/two_nav_img06.png"
            },{
                "navName": "定制",
                "url": "custom.html",
                "src": "../images/two_nav_img05.png"
            }]
        },{
            "navName":"帮助中心",
            "url":"help.html",
            "active": "food",
            "children": [{
                "navName": "企业介绍",
                "url": "企业介绍.html",
                "src": "../images/two_nav_img04.png"
            },{
                "navName": "公司资质",
                "url": "公司资质.html",
                "src": "../images/two_nav_img05.png"
            },{
                "navName": "新闻动态",
                "url": "新闻动态.html",
                "src": "../images/two_nav_img06.png"
            },{
                "navName": "人才招聘",
                "url": "人才招聘.html",
                "src": "../images/two_nav_img05.png"
            },{
                "navName": "联系我们",
                "url": "联系我们.html",
                "src": "../images/two_nav_img05.png"
            }]
        },{
        "navName":"关于我们",
        "url":"联系我们.html",
        "active": "food",
        "children": [{
        "navName": "线下门店",
        "url": "help.html",
        "src": "../images/two_nav_img04.png"
        },{
        "navName": "防伪查询",
        "url": "help.html",
        "src": "../images/two_nav_img05.png"
        },{
        "navName": "购买说明",
        "url": "help.html",
        "src": "../images/two_nav_img06.png"
        },{
        "navName": "物流说明",
        "url": "help.html",
        "src": "../images/two_nav_img05.png"
        },{
        "navName": "售后服务",
        "url": "help.html",
        "src": "../images/two_nav_img05.png"
        }]
        }]
    -
        var navArray = [{
        "navName": "首页",
        "url": "index.html",
        "active": "homePage"
        },{
        "navName":"皂石食器",
        "url":"food-utensils.html",
        "active": "food",
        "children": [{
        "navName": "墨域系列",
        "url": "mouyu.html",
        "src": "../images/two_nav_img04.png"
        },{
        "navName": "墨工系列",
        "url": "mogong.html",
        "src": "../images/two_nav_img05.png"
        },{
        "navName": "墨韵系列",
        "url": "moyun.html",
        "src": "../images/two_nav_img06.png"
        },{
        "navName": "定制",
        "url": "custom.html",
        "src": "../images/two_nav_img05.png"
        }]
        },{
        "navName": "关于我们",
        "url": "about.html",
        "active": "about",
        "children": [{
        "navName": "企业介绍",
        "url": "introduce.html",
        "src": "../images/two_nav_img01.png"
        },{
        "navName": "公司资质",
        "url": "aptitude.html",
        "src": "../images/two_nav_img02.png"
        },{
        "navName": "新闻动态",
        "url": "news.html",
        "src": "../images/two_nav_img03.png"
        },{
        "navName": "人才招聘",
        "url": "recruit.html",
        "src": "../images/two_nav_img04.png"
        },{
        "navName": "联系我们",
        "url": "javascript:;",
        "src": "../images/two_nav_img04.png"
        }]
        },{
        "navName":"帮助中心",
        "url":"help.html",
        "active": "help",
        "children": [{
        "navName": "线下门店",
        "url": "help.html",
        "src": "../images/two_nav_img04.png"
        },{
        "navName": "防伪查询",
        "url": "help.html",
        "src": "../images/two_nav_img05.png"
        },{
        "navName": "购买说明",
        "url": "help.html",
        "src": "../images/two_nav_img06.png"
        },{
        "navName": "物流说明",
        "url": "help.html",
        "src": "../images/two_nav_img05.png"
        },{
        "navName": "售后服务",
        "url": "help.html",
        "src": "../images/two_nav_img06.png"
        }]
        },{
        "navName":"个人中心",
        "url":"个人中心.html",
        "active": "user"
        }]
block style
    block style-main
block content
    if(!$headerShow)
        .zs-header
            .header
                .header-box.d-flex.align-items-center.justify-content-between
                    .header-left.clearfix
                        .catalog.float-left
                            .icon.iconfont.iconmenu.js-menu
                            .title.js-menu 目录
                        a.d-block.float-left(href="javascript:;")
                            .phone
                                .icon.iconfont.icondianhua
                                .title 400-800-1098
                    .header-center
                        a.logo.d-block(href="index.html")
                            img.img-on(src="../images/logo.png")
                            img.img-off(src="../images/logo_white.png")
                    .header-right
                        .search.js-search.float-right
                            a.iconfont.iconsousuo(href="搜索结果页.html")
                        .user.float-right
                            a.d-block(href="javascript:;")
                                .iconfont.iconzhuce
                            .user-text
                                a.login.d-block(href="登录.html") 登录
                                a.register.d-block(href="注册.html") 注册
            .clearfix.mb-head
                a(href="index.html").pull-left.logo-box
                    img(src="images/logo.png")
                .pull-right.nav-icon.js-nav-icon
                    .icon-item
                    .icon-item
                    .icon-item
                .mb-aside-nav
                    .mb-aside-nav-left
                    .nav-list
                        .nav-head.clearfix
                            .close-icon.js-close-icon
                                img(src="images/close-icon.png")
                        .list-box
                            each $val in navArray
                                .list-item(class=($val.active == $active ? " active" : ""))
                                    if($val.children)
                                        .list-name.js-list-name=$val.navName
                                        each $value in $val.children
                                            .sub-list
                                                a(href=$value.url).item=$value.navName
                                    else
                                        .list-name.js-list-name
                                            a(href=$val.url)=$val.navName


        .backtop.js-backtop
            .iconfont.iconjiantou1
    .header-menu
        .main
            .line1.line
            .line2.line
            .line3.line
            .nav
                each items, index in headerArry
                    .nav-item
                        if index==0
                            a(href=items.url).home-title=items.navName
                        else
                            .nav-title=items.navName
                            each item in items.children
                               a.nav-link(href=item.url)=item.navName
            .close-menu.text-center
                .close-btn.js-close
                    i.iconfont.iconguanbi
                p 关闭菜单
    block content-main

block foot
    if(!$footerShow)
        footer.footer
            .footer-top.d-flex.justify-content-between.row
                .link-us
                    .foot-title 联系我们
                    p.d-flex.align-items-center
                        i.iconfont.icondizhi
                        span 上海市闵行区颛兴东路1277弄65栋
                    p.d-flex.align-items-center
                        i.iconfont.iconxinfeng
                        a(href="mailTo:motuozaoshi@chsvc.com") motuozaoshi@chsvc.com
                    p.d-flex.align-items-center
                        i.iconfont.icondianhua
                        a(href="Tel:motuozaoshi@chsvc.com") 400-800-1098
                ul.nav.footer-nav
                    each items, index in navArray
                        if(index>0)
                            li
                               .foot-title=items.navName
                               if items.children
                                   each item in items.children
                                        a(href="javascript:;")=item.navName
                .weixin
                    .code
                        img(src="images/serve_code.png" width="100%")
                        p.text-center 皂石服务号
                    .code
                        img(src="images/subscribe_code.png" width="100%")
                        p.text-center 皂石订阅号
            .footer-copy.text-center Copyright © 2013-2019 moyu All Right Reserved. 粤ICP备xxxxxxxx号
block script
    script(src='js/plugins/bootstrap/bootstrap.bundle.min.js')
    script(src='js/plugins/swiper/js/swiper.js')
    script(src='js/jquery.waypoints.min.js')
    script(src='js/plugins/lazyload.min.js')
    script(src='js/index.js')
    script.
        $(function () {
            var $header = $(".zs-header");
            $(".js-menu").click(function () {
               $(".header-menu").slideToggle();
               if($("body").hasClass("active")) {
                   $("body").removeClass("active");
               }else {
                   $("body").addClass("active");
               }
            })
            $(".js-close").click(function () {
                $(".header-menu").slideUp();
                $("body").removeClass("active");
            })
        })
    block script-main